<tr>
  <td><%= bebida.nombre %></td>
  <td><%= bebida.tipo %></td>
  <td><%= bebida.tamanio %></td>
  <td><%= bebida.precio %></td>
  <td><%= bebida.mi_stock if bebida%></td>
  <td>
  <div>
  <div class="btn-group ">

    
            <%= link_to '',bebida, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver" %>
            
    
    
  
  
  </div>
  </td>
</tr>