<p id="notice"><%= notice %></p>
<% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
</br>
<p>
  <strong>Fecha:</strong>
  <%= @menu.fecha %>
</p>
<p>
  
  <% @menu.productos %>
</p>
<% @tipos.each do |t| %>
      <p><label><%= t.nombre %></label></p>
	<% @menu.productos.each do |producto| %>
  		<%if producto.tipo && producto.tipo.nombre==t.nombre %>        
          <div class="field">
            <p><%= producto.nombre if producto %></p>            
          </div>
          <br>
        <%else%>
      
   		<%end%>

	<%end%>
<%end%>

<div class="btn-group-justified">
<%if Time.now.to_date <= @menu.fecha.to_date && @compras_del_dia %>
    
    <%= link_to '', edit_menu_path(@menu), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>
    <%= link_to '',
                @menu,
                method: :delete,
                class: 'btn btn-warning btn-sm glyphicon glyphicon-remove',
                data: { confirm: 'Está seguro de eliminar este menú?' }, :title => "Eliminar" %>
    <%end%>
</div>
</br>
</br>
<div class="btn-group-justified">
  <%= link_to 'Volver', menus_path , class: 'btn btn-info' %>
</div>