<h2>Editar tu contrase単a <%= current_cuentum.email %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :current_password, "Contrase単a actual" %><br />
    <%= f.password_field :current_password, :autocomplete => "off", class: 'form-control'  %>
  </div>
  </br>

  <div class="field">
    <%= f.label :password, "Contrase単a" %><br />
    <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
  </div>
  </br>
  <div class="field">
    <%= f.label "Confirmar contrase単a" %><br />
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Actualizar", class: 'btn btn-default btn-lg btn-block' %>
  </div>
  </br>
  <%= link_to "Cancelar", root_path, class: 'btn btn-default btn-lg btn-block' %>
<% end %>
