<h2>Modulo de Business Intelligence</h2>


 
</br>
<div>
  <ul class="list-unstyled">

    <div >
    <li class><%= link_to 'Exportar consumos a GNS', { :controller => :gns, :action => :index }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
   <li class><%= link_to 'Grafica: Total de compras por dia', { :controller => :bi, :action => :compras_por_dia }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
    <li class><%= link_to 'Grafica: Historico de Productos mas consumidos', { :controller => :bi, :action => :productos_mas_consumidos }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
    <li class><%= link_to 'Grafica: Evolucion de consumos por mes', { :controller => :bi, :action => :consumos_por_mes }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
    <li class><%= link_to 'Grafica: Recaudación por día', { :controller => :bi, :action => :recaudo_por_dia }, class: 'btn btn-default btn-lg btn-block' %></li>
    </br>
    </div>

    </ul>
    </div>
<div class="col-md-12">
  <div class="btn-group btn-group-justified">
    
  
    <%= link_to 'Volver', root_path, class: 'btn btn-default' %>

  </div>
  </br>

 <%= render 'footer' %>