<p id="notice"><%= notice %></p>

<h1>Venta</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Bebida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.menu.fecha %></td>
        <% if ventum.bebida_id.present? %>
        <td><%= ventum.bebida.nombre %></td>
        <%end%>
        <td><%= link_to 'Mostrar', ventum %></td>
        <td><%= link_to 'Editar', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Eliminar', ventum, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Venta', new_ventum_path %>
