<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @ventum.menu_id %>
</p>

<p>
  <strong>Bebida:</strong>
  <%= @ventum.bebida_id%>
</p>

<%= link_to 'Edit', edit_ventum_path(@ventum) %> |
<%= link_to 'Back', venta_path %>
