<tr>
  <td><%= compra.id if compra%></td>
  <td><%= compra.fecha if compra%></td>
  
  <td>
  <div>
  <div class="btn-group ">
  <% if @div_usuario %>
  
    <%= link_to '',compra, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver" %> 
  
    <% if compra.fecha == Time.now.to_date && compra.estado == "PENDIENTE"%>         
    <%= link_to '',
                compra,
                method: :delete,
                class: 'btn btn-warning btn-sm glyphicon glyphicon-remove',
                data: { confirm: 'Esta seguro de eliminar esta compra?' }, :title => "Eliminar" %>
  
    <% end %>
  <% end %> 
  <% if @div_pedido %> 
  
    <%= link_to '',
                compra,
                method: :delete,
                class: 'btn btn-warning btn-lg glyphicon glyphicon-remove',
                data: { confirm: 'Esta seguro de eliminar esta compra?' }, :title => "Eliminar" %>
    <%= link_to '',edit_compra_path(compra), class: 'btn btn-info btn-lg glyphicon glyphicon-cutlery', :title => "Preparar pedido" %>
  <% end %>
  </div>
  </td>
</tr>