<%= form_for(compra) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% compra.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
      <div class="panel-body form-group  hidden">
    <p><%= f.label :fecha %></p>
    <%= f.date_select :fecha, class: 'form-control' %>
  </div>
  <div class="panel-body form-group">   
    <% if @tipos.present? %>
      <% @tipos.each do |t| %>       
        <p><label><%= t.nombre %></label></p>
        <% if@productos.present? %>        
        <% @productos.each do |producto| %>        
          <%if producto.tipo && producto.tipo.nombre==t.nombre %>        
            <div class="field">
              <%= check_box_tag "productos[]", producto.id %> <%= producto.nombre %>            
            </div>
            <br>
          <%else%>        
          <%end%>
        <%end%>
        <%end%>
      <%end%>
    <%end%>
    
    
    <% if @bebidas.present? %>
      <p><label>BEBIDAS </label></p>
      <% @bebidas.each do |bebida| %>
          <% if bebida.mi_stock > 0 %>     
            <div class="field">
              <%= check_box_tag "bebidas[]", bebida.id   %> <%= bebida.nombre %> - <%= bebida.tipo %> - <%= bebida.tamanio %>
            </div>
            <br>
            <% end %>
      <%end%>
    <%end%>

    <p> <label> Donde lo va a consumir? </label></p>
      <%= select_tag 'tipo_pedido', options_for_select(["Seleccione tipo de pedido", "COMEDOR" , "DELIVERY" ]), {:class => 'form-control'}%>
  </div>

  


  <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        
        <div class="btn-group">
        <%= f.submit "Realizar compra", class: 'btn btn-info ' %>
        </div>
        <div class="btn-group">
        <%= link_to 'Cancelar', compras_path, class: 'btn btn-info '  %>
        </div>
      </div>
    </div>
  </div>
<% end %>





