<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @compra.fecha %>

</p>
Valor total del consumo: <strong>$<%= @compra.valor_final_ticket %></strong>
<p>
  
  <% @productos_en_compra %>
</p>
<% @tipos.each do |t| %>
      <p><label><%= t.nombre %></label></p>
  <% @productos_en_compra.each do |producto| %>
      <%if producto.tipo && producto.tipo.nombre==t.nombre %>        
          <div class="field">
            <p><%= producto.nombre if producto %></p>            
          </div>
          <br>
        <%else%>
      
      <%end%>

  <%end%>
<%end%>

  <% @bebidas_en_compra.each do |bebida| %>       
          <div class="field">
            <p><%= bebida.nombre if bebida %> - <%= bebida.tipo if bebida %> - <%= bebida.tamanio if bebida %></p>         
          </div>
          <br>
        
  <%end%>
  <strong>Tipo de pedido:</strong>
  <%= @compra.tipo_pedido %>
  <br>
  <br>
  <div class="btn-group-justified">

<%= link_to '', calificacions_path(@compra), class: 'btn btn-success btn-sm glyphicon glyphicon-heart', :title => 'Calificar'  %>

</div>


<div class="btn-group-justified">
  <% if @div_usuario %>
    
  
    <% if @compra.fecha == Time.now.to_date && @compra.estado == "PENDIENTE"%>         
    <%= link_to '',
                @compra,
                method: :delete,
                class: 'btn btn-warning btn-sm glyphicon glyphicon-remove',
                data: { confirm: 'Está seguro de eliminar esta compra?' }, :title => "Eliminar" %>
  
    <% end %>
  <% end %> 
  <% if @div_pedido %> 
  
    <%= link_to '',
                @compra,
                method: :delete,
                class: 'btn btn-warning btn-lg glyphicon glyphicon-remove',
                data: { confirm: 'Está seguro de eliminar esta compra?' }, :title => "Eliminar" %>
    <%= link_to '',edit_compra_path(@compra), class: 'btn btn-info btn-lg glyphicon glyphicon-cutlery', :title => "Preparar pedido" %>
  <% end %>


</div>
</br>
</br>
<div class="btn-group-justified">
  <%= link_to 'Volver', compras_path, class: 'btn btn-default'  %>
</div>


