<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>
<p>
  <strong>Tipo de producto:</strong>
  <%= @producto.tipo.nombre if @producto.tipo%>
</p>

<div class="btn-group-justified">
<%= link_to '', edit_producto_path(@producto), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>

</div>
</br>
</br>
<div class="btn-group-justified">
	<%= link_to 'Volver', productos_path, class: 'btn btn-info' %>
</div>
