
<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
  
<div class="row">
  <div class="col-md-12">
    <div class="listing">
    <div>
   <h3>Actualizar planilla de sueldos</h3>
   </div>
    
      <%= form_tag import_from_excel_path, multipart: true do %>
     <%= file_field_tag :file , class: 'form-control' %>
     <%= submit_tag "Importar sueldos", :class=> "btn btn-default"%>
    <% end %>
    </br>
    <h3>Usuarios registrados</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Ci</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Rol</th>
              <th>Habilitado</th>              
              <th>Empresa</th>
            </tr>
        </thead>
      
        <tbody>
                <%= render @usuarios %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
  </div>
  
<br><div class="col-md-12">
  <div class="btn-group btn-group-justified">
  <% if @div_admin %>
    <%= link_to 'Nuevo Usuario', new_usuario_path, class: 'btn btn-default'  %>
  <% end %>
    <%= link_to 'Volver', root_path, class: 'btn btn-default' %>

  </div>
   
</div>