<p id="notice"><%= notice %></p>

<p>
  <strong>Ci:</strong>
  <%= @usuario.ci %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @usuario.apellidos %>
</p>
<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa.nombre %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.rol %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @usuario.habilitado %>
</p>

<div class="btn-group-justified"> 
<%= link_to '', edit_usuario_path(@usuario), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>
<% if @usuario.cuenta_id == current_cuentum.id %>
    <%= link_to '', edit_cuenta_path, class: 'btn btn-info btn-sm glyphicon glyphicon-warning-sign', :title => "Cambiar password" %>
<% end %>
</div>
</br>
</br>
<div class="btn-group-justified">
  <%= link_to 'Volver', usuarios_path, class: 'btn btn-info' %>
</div>
