<p id="notice"><%= notice %></p>

<p>
  <strong>Id bebida:</strong>
  <%= @movimiento.id_bebida %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @movimiento.fecha %>
</p>

<p>
  <strong>Cant:</strong>
  <%= @movimiento.cant %>
</p>

<%= link_to 'Edit', edit_movimiento_path(@movimiento) %> |
<%= link_to 'Back', movimientos_path %>
