<%= form_for(calificacion) do |f| %>
<div class="panel panel-default">
    <div class="panel-body">
      <% calificacion.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
      <div class="panel-body form-group">

        <p><%= f.label :compra_id %></p>
        <%= f.select :compra_id,  Compra.where(cuentum_id: current_cuentum.id ).order('fecha DESC').collect {|t| [ t.fecha , t.id ] }, { include_blank: 'Seleccionar Compra' }, class: 'form-control' %>
      </div>
  

 <div class="ec-stars-wrapper">
 </div> 
  <div class="panel-body form-group">
    <p><%= f.label :valor %></p>
    <%= f.number_field :valor , :step => "1", min: 0, max: 5, class: 'form-control', placeholder: califico_compra %>
  </div>
  


  <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        
        <div class="btn-group">
        <%= f.submit "Calificar", class: 'btn btn-info ' %>
        </div>
        <div class="btn-group">
        <%= link_to 'Cancelar', calificacions_path, class: 'btn btn-info '  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
