<%= form_for(calificacion) do |f| %>
<div class="panel panel-default">
    <div class="panel-body">
      <% calificacion.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
      <div class="panel-body form-group">

        <p><%= f.label "Compras sin calificar" %></p>
        <%= f.select :compra_id,  @compras.collect {|t| [ t.fecha , t.id ] }, { include_blank: 'Seleccionar Compra' }, class: 'form-control' %>
      </div>
  

 <div class="ec-stars-wrapper">
 </div> 
  <div class="panel-body form-group">
    <p><%= f.label "Seleccione un valor" %></p>
    </br>
    <%= f.radio_button :valor, 0 %>
    <%= f.label :valor, "0 - Mala", value: 0 %>
    </br>
    <%= f.radio_button :valor, 1 %>
    <%= f.label :valor, "1 - Pobre", value: 1 %>
    </br>
    <%= f.radio_button :valor, 2 %>
    <%= f.label :valor, "2 - Aceptable", value: 2  %>
    </br>
    <%= f.radio_button :valor, 3 %>
    <%= f.label :valor, "3 - Buena", value: 3 %>
    </br>
    <%= f.radio_button :valor, 4 %>
    <%= f.label :valor, "4 - Muy Buena", value: 4 %>
    </br>
    <%= f.radio_button :valor, 5 %>
    <%= f.label :valor, "5 - Excelente", value:5 %>
    </br>
  </div>
  


  <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        
        <div class="btn-group">
        <%= f.submit "Calificar", class: 'btn btn-info ' %>
        </div>
        <div class="btn-group">
        <%= link_to 'Cancelar', calificacions_path, class: 'btn btn-info '  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
