<p id="notice"><%= notice %></p>

<p>
  <strong>Compra:</strong>
  <%= @calificacion.compra_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @calificacion.valor %>
</p>


<div class="btn-group-vertical">
<%= link_to 'Editar', edit_calificacion_path(@calificacion), class: 'btn btn-default' %> 
<%= link_to 'Volver', calificacions_path, class: 'btn btn-info' %>

</div>