<p id="notice"><%= notice %></p>

<p>
  <strong>Compra:</strong>
  <%= @calificacion.created_at.to_date %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @calificacion.valor %>
</p>


<div class="btn-group-justified">
<%= link_to '', edit_calificacion_path(@calificacion), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>
    <%= link_to '',
                @calificacion,
                method: :delete,
                class: 'btn btn-warning btn-sm glyphicon glyphicon-remove',
                data: { confirm: 'Esta seguro de eliminar esta calificación?' }, :title => "Eliminar" %>


</div>
</br>
</br>
<div class="btn-group-justified">
	<%= link_to 'Volver', calificacions_path, class: 'btn btn-info' %>
</div>