<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

      <%= render 'header' %>
     
    
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-2">
        <%= yield %>
      </div>
    </div>
  </body>
  
</html>
